*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:linear-gradient(#ffdad5,#fff7f9);

}
.container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.left-contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: rgb(207, 8, 193);
    font-size: 40px;
    margin-bottom: 10px;

}
.contact-left-title hr{
    width: 120px;
    height: 5px;
    border: none;
    background-color: rgb(207, 8, 193);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-input{
    width: 400px;
    height: 50px;
    padding-left: 25px;
    border: none;
    outline: none;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    
}

.left-contact textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-input:focus{
    border: 2px solid #ff994f;
}

.contact-input::placeholder{
    color: #a9a9a9;
}

button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background:linear-gradient(270deg,#ff994f,#fa6d86);
    gap: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;

}
button img{
    height: 15px;
    
}

.right-contact img{
    width: 500px;
}

@media(max-width:900px){
    .right-contact{
        display: none;
    }
    .contact-input{
        width: 80vw;
    }
}